<footer>
    <div class="container-fluid container-footer bg-dark">
        <div class="row d-flex justify-content-center mr-1">
            <div class="footer-col col-md-3">
                <h4>Company</h4>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#sobre">Sobre</a></li>
                    <li><a href="#pilares">Pilares</a></li>
                    <li><a href="#tecnologias">Tecnologias</a></li>
                    <li><a href="#equipe">Equipe</a></li>
                </ul>
            </div>
            <div class="footer-col col-md-3">
                <h4>Manguetech-se</h4>
                <ul>
                    <li><a href="">FAQ</a></li>
                    <li><a href="#contato" target="_blank">Contato</a></li>
                    <li><a (click)='sair()'>Logout</a></li>
                </ul>
            </div>
            <div class="footer-col col-md-3">
                <h4>LinkedIn</h4>
                <ul>
                    <li><a href="https://www.linkedin.com/in/aldair-soares/" target="_blank">Aldair
                            Soares</a></li>
                    <li><a href="https://www.linkedin.com/in/arthur-souza-35b141182/" target="_blank">Arthur
                            Souza</a></li>
                    <li><a href="https://www.linkedin.com/in/brenda-stefany-devjr/" target="_blank">Brenda
                            Stefany</a></li>
                    <li><a href="https://www.linkedin.com/in/educastroo/" target="_blank">Eduardo Castro</a>
                    </li>
                    <li><a href="https://www.linkedin.com/in/maria-luiza-moura-638906116/"
                            target="_blank">Maria Luiza Moura</a></li>
                </ul>
            </div>
            <div class="footer-col col-md-3">
                <h4>Nossas redes</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>