<!--Home-->
<div id="home" class="bg-mangue">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light w-100 fixed-top">
        <a class="navbar-brand text-white trocar" href="#home">MANGUE<span class="">TECH</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white trocar" href="#home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white trocar" href="#sobre">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white trocar" href="#missaovisao">Pilares</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white trocar" href="#tecnologias">Tecnologias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white trocar" href="#equipe">Equipe</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manguetech-se
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#logar">Login</a>
                        <a class="dropdown-item" href="#cadastrar">Cadastrar</a>
                        <a class="dropdown-item" href="#contato">Contato</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!--End Navbar-->
    <!--Start Landing Page Section-->

    <div class="landing">
        <div class="home-wrap">
            <div class="home-inner">
            </div>
        </div>
    </div>
    <div class="caption text-center">
        <h1>MANGUE<span class="sp1">TECH</span></h1>
    </div>
    <!--End Landing Page Section-->
</div>
<!--End Home Section-->

<!--Start Sobre Section-->
<div id="sobre" class="offset">
    <div class="row d-flex justify-content-center bg-sobre">
        <div class="col-md-4  mt-5 ml-1 text-center align-items-center">
        </div>

        <div class="col-md-8 text-center mt-3 mb-5 text-white">
            <div class="transparent">
                <h1 class="equipeh1">O PROJETO</h1>

                <p>De acordo com o Tribunal de Contas do Estado de Pernambuco (TCE), dos 184 municípios de Pernambuco,
                    113, o que corresponde a 61,4%, está utilizando aterros sanitários para o despejo de resíduos de
                    forma incorreta. Um estudo realizado pelo Núcleo de Engenharia do TCE considerou as inspeções
                    realizadas entre os meses de janeiro e setembro de 2020, informações de 112 processos de Auditoria
                    Especial que apuram a responsabilidade por utilização dos lixões, além dos dados fornecidos pela
                    Agência Estadual de Meio Ambiente (CPRH) e pelos gestores de aterros sanitários licenciados.
                    Estima-se que até 2030 o estado de Pernambuco progressivamente ira alcançar e sustentar o
                    crescimento da renda dos 40% da população mais pobre a uma taxa maior que a renda média dos 10% mais
                    ricos.
                    O lixo eletrônico tem se mostrado um problema grave e crescente para o meio ambiente e para a saúde
                    humana. Uma pesquisa foi feita no Distrito Federal e em 13 estados: Pernambuco, São Paulo, Rio de
                    Janeiro, Minas Gerais, Espírito Santo, Bahia, Ceará, Rio Grande do Sul, Paraná, Santa Catarina,
                    Pará, Goiás e Mato Grosso do Sul revela que 16% descartam com certa frequência algum
                    eletroeletrônico no lixo comum. Esse tipo de descarte não permite a reciclagem das matérias-primas
                    presentes nos aparelhos. Um terço dos entrevistados (33%) nunca ouviu falar em pontos ou locais de
                    descarte correto para lixo eletrônico. Ao todo, foram entrevistadas para o estudo 2.075 pessoas de
                    18 a 65 anos, entre os dias 14 e 24 de maio de 2021.
                    Nossa proposta é a redução do descarte incorreto desse e-lixo, ou Resíduos de Equipamentos Elétricos
                    e Eletrônicos (REEE). Fazendo valer a prática da moeda social, cuja finalidade se destina a
                    transações econômicas com um determinado fim, trazendo geração de renda e educação no regresso útil
                    desses materiais à sociedade destinados à educação em áreas periféricas da RMR do Recife.
                    Este objetivo está de acordo com a ods-10: Redução de Desigualdades. Foi pensando nisso, que criamos
                    a nossa revolução.
                    Bem Vindo(a) Manguetech, seja parte da revolução.
                    Transforme, Inspire, Inclua, Recicle, Eduque e Compartilhe.

                    Manguetech-se!</p>
            </div>
        </div>
    </div>
</div>
<!--End sobre Section-->


<!--Start Missão&Visão Section-->
<div id="missaovisao" class="offset">
    <!--Jumbotron-->
    <div class="jumbotron jumbotron-fluid bg-white folhasreais mb-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <h1 class="missaoh1 equipeh1">Nossos Pilares</h1>
                </div>
            </div>
            <div class="row text-center text-black">
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="picture text-center">
                        <i class="fas fa-play-circle fa-4x" data-fa-transform="shrink-3 up-5"></i>
                        <h3>Missão</h3>
                        <p>Transformamos vidas por meio da educação e tecnologia, promovendo o desenvolvimento local
                            e inclusão social.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="picture">
                        <i class="fas fa-chart-line fa-4x" data-fa-transform="shrink-3 up-5"></i>
                        <h3>Visão</h3>
                        <p>Mudar o mundo através da tecnologia e inclusão digital.</p>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="picture">
                        <i class="far fa-gem fa-4x" data-fa-transform="shrink-3 up-5"></i>
                        <h3>Valores</h3>
                        <p>Respeito à vida, às pessoas e ao meio ambiente

                            ética e honestidade,

                            compromisso com o crescimento e resultado,

                            solidariedade e

                            inclusão.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Jumbotron-->

</div>
<!--End Missão&Visão Section-->

<!--Start Tecnologias Section-->
<div id="tecnologias" class="">
    <div class="fixed-background">
        <div class="row dark">
            <div class="col-md-12">
                <h1 class="text-center mt-5 mb-5 equipeh1">Tecnologias</h1>
                <div class="heading-underline"></div>
            </div>
            <div class="row text-center d-flex justify-content-center">
                <div class="col-10 d-flex justify-content-center">
                    <div class="col-md-3">
                        <div class="tech">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-plain.svg"
                                width="70px" height="70px">

                            <h3>Java</h3>
                            <p> Linguagem orientada a objetos, multiplataforma que permite a criação de um
                                programa único para uso em diversas plataformas - da web ao desktop, passando por
                                mobile e IoT mas o grande mercado Java hoje ainda é o back-end em sistemas Web.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="tech mt-1">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg"
                                width="70px" height="70px">

                            <h3>SpringBoot</h3>
                            <p>Framework Java open source que tem como objetivo facilitar esse processo em
                                aplicações Java. Consequentemente, ele traz mais agilidade para o processo de
                                desenvolvimento, reduzindo o tempo gasto com as configurações iniciais.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="tech">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-plain.svg"
                                width="70px" height="70px">
                            <h3>Bootstrap</h3>
                            <p>Framework front-end produzido pelo Twitter, que fornece estruturas de CSS para a
                                criação de sites e aplicações responsivas de forma rápida e simples. Além disso,
                                pode lidar com sites de desktop e páginas de dispositivos móveis da mesma forma.</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="tech">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-plain.svg"
                                width="70px" height="70px">
                            <h3>Angular</h3>
                            <p> Framework JavaScript, criado pela Google, voltada para a construção da interface de
                                aplicações, usando HTML, CSS e, principalmente, JavaScript. Seu foco é em aplicações web
                                de código-fonte aberto e front-end, baseadas em TypeScript.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-wrap">
            <div class="fixed">
            </div>
        </div>

    </div>
    <!--End Tecnologias Section-->

    <!--Start equipe Section-->

    <div id="equipe" class="offset">
        <div class="fixed-background-equipe">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="equipeh1">Equipe</h1>
                </div>
            </div>
            <div class="row d-flex justify-content-center ">
                <div class="col-md-12 ">

                    <div class="wrapper d-flex justify-content-center w-100">
                        <div class="cards-container">
                            <!--Single Card 1-->
                            <div class="card ">
                                <div class="card-wrapper">
                                    <div class="front-card">
                                        <!--image here-->
                                        <div>
                                            <h2 class='borda'>Aldair Soares</h2>
                                            <p class='borda'>Dev Team</p>
                                            <a href="https://www.linkedin.com/in/aldair-soares/" target="_blank"><i class="fab fa-linkedin-in mr-1 text-white"></i></a>
                                            <a href="https://github.com/AldairSoares" target="_blank"><i class="fab fa-github text-white"></i></a>
                                        </div>
                                    </div>
                                    <div class="rear-card">
                                        <p>Graduado em engenharia mecânica, desenvolvedor e manguetecher</p>
                                        <div class="about-info">
                                            <!-- <img src="/src/assets/paginaInicial/aldair.jpg" alt="foto de aldair"> -->
                                            <div>
                                                <h2>Aldair Soares</h2>
                                                <p>Dev Team</p>
                                                <a href="https://www.linkedin.com/in/aldair-soares/" target="_blank"><i class="fab fa-linkedin-in mr-1 text-white"></i></a>
                                                <a href="https://github.com/AldairSoares" target="_blank"><i class="fab fa-github text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End of Single Card 1-->
                            <!--Single Card 2-->
                            <div class="card">
                                <div class="card-wrapper">
                                    <div class="front-card">
                                        <!--image here-->
                                        <div>
                                            <h2 class='borda'>Arthur Souza</h2>
                                            <p class='borda'>Scrum Master</p>
                                            <a href="https://www.linkedin.com/in/arthur-souza-35b141182/" target="_blank"><i class="fab fa-linkedin-in mr-1 text-white"></i></a>
                                            <a href="https://github.com/4souzza" target="_blank"><i class="fab fa-github text-white"></i></a>
                                        </div>
                                    </div>
                                    <div class="rear-card">
                                        <p>Olá eu sou Arthur, Scrum master do Manguetech, formado em informática e com
                                            mais de cinco anos de experiência com projetos em tecnologia
                                        <p>
                                        <div class="about-info">
                                            <!-- <img src="/assets/paginaInicial/arthur.jpeg" alt="foto de arthur"> -->
                                            <div>
                                                <h2>Arthur Souza</h2>
                                                <p>Scrum Master</p>
                                                <a href="https://www.linkedin.com/in/arthur-souza-35b141182/" target="_blank"><i class="fab fa-linkedin-in mr-1 text-white"></i></a>
                                                <a href="https://github.com/4souzza" target="_blank"><i class="fab fa-github text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End of Single Card 2-->

                            <!--Single Card 3-->
                            <div class="card">
                                <div class="card-wrapper">
                                    <div class="front-card">
                                        <!--image here-->
                                        <div>
                                            <h2 class='borda'>Brenda Stefany</h2>
                                            <p class='borda'>Dev Team</p>
                                            <a href="https://www.linkedin.com/in/brenda-stefany-devjr/" target="_blank"><i class="fab fa-linkedin-in mr-1 text-white"></i></a>
                                            <a href="https://github.com/BrendaStefany" target="_blank"><i class="fab fa-github text-white"></i></a>
                                        </div>
                                    </div>
                                    <div class="rear-card">
                                        <p>Graduada em engenharia civil, desenvolvedora e manguetecher</p>
                                        <div class="about-info">
                                            <!-- <img src="/src/assets/paginaInicial/brenda.jpeg" alt="foto de brenda"> -->
                                            <div>
                                                <h2>Brenda Stefany</h2>
                                                <p>Dev Team</p>
                                                <a href="https://www.linkedin.com/in/brenda-stefany-devjr/" target="_blank"><i class="fab fa-linkedin-in mr-1 text-white"></i></a>
                                                <a href="https://github.com/BrendaStefany" target="_blank"><i class="fab fa-github text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End of Single Card 3-->

                            <!--Single Card 4-->
                            <div class="card">
                                <div class="card-wrapper">
                                    <div class="front-card">
                                        <!--image here-->
                                        <div>
                                            <h2 class='borda'>Eduardo Castro</h2>
                                            <p class='borda'>Tech Lead</p>
                                            <a href="https://www.linkedin.com/in/educastroo/" target="_blank"><i class="fab fa-linkedin-in mr-1 text-white"></i></a>
                                            <a href="https://github.com/EduCastroo" target="_blank"><i class="fab fa-github text-white"></i></a>
                                        </div>
                                    </div>
                                    <div class="rear-card">
                                        <p>Engenheiro civil de formação, desenvolvedor fullstack por paixão, um dos
                                            criadores da MANGUETECH e pronto para fazer a revolução.</p>
                                        <div class="about-info">
                                            <!-- <img src="/src/assets/paginaInicial/edu.jpeg" alt="foto de edu"> -->
                                            <div>
                                                <h2>Eduardo Castro</h2>
                                                <p>Tech Lead</p>
                                                <a href="https://www.linkedin.com/in/educastroo/" target="_blank"><i class="fab fa-linkedin-in mr-1 text-white"></i></a>
                                                <a href="https://github.com/EduCastroo" target="_blank"><i class="fab fa-github text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End of Single Card 4-->


                            <!--Single Card 5-->
                            <div class="card">
                                <div class="card-wrapper">
                                    <div class="front-card">
                                        <!--image here-->
                                        <div>
                                            <h2 class='borda'>Maria Luiza Moura</h2>
                                            <p class='borda'>Dev Team</p>
                                            <a href="https://www.linkedin.com/in/maria-luiza-moura-638906116/" target="_blank"><i class="fab fa-linkedin-in mr-1 text-dark"></i></a>
                                            <a href="https://github.com/MariaLuizaDMoura" target="_blank"><i class="fab fa-github text-dark"></i></a>
                                        </div>
                                    </div>
                                    <div class="rear-card">
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.?</p>
                                        <div class="about-info">
                                            <!-- <img src="/src/assets/paginaInicial/malu.jpg" alt="foto de malu"> -->
                                            <div>
                                                <h2>Maria Luiza Moura</h2>
                                                <p>Dev Team</p>
                                                <a href="https://www.linkedin.com/in/maria-luiza-moura-638906116/" target="_blank"><i class="fab fa-linkedin-in mr-1 text-white"></i></a>
                                                <a href="https://github.com/MariaLuizaDMoura" target="_blank"><i class="fab fa-github text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Single Card 5-->
                        </div>
                    </div>
                </div>

            </div>
            <footer>
                <div class="container-fluid container-footer">
                    <div class="row d-flex justify-content-center">
                        <div class="footer-col col-md-3">
                            <h4>Company</h4>
                            <ul>
                                <li><a href="#home">Home</a></li>
                                <li><a href="#sobre">Sobre</a></li>
                                <li><a href="#pilares">Pilares</a></li>
                                <li><a href="#tecnologias">Tecnologias</a></li>
                                <li><a href="#equipe">Equipe</a></li>
                            </ul>
                        </div>
                        <div class="footer-col col-md-3">
                            <h4>Manguetech-se</h4>
                            <ul>
                                <li><a href="">FAQ</a></li>
                                <li><a href="">Contato</a></li>
                                <li><a href="">Login</a></li>
                                <li><a href="">Cadastro</a></li>
                            </ul>
                        </div>
                        <div class="footer-col col-md-3">
                            <h4>LinkedIn</h4>
                            <ul>
                                <li><a href="https://www.linkedin.com/in/aldair-soares/" target="_blank">Aldair
                                        Soares</a></li>
                                <li><a href="https://www.linkedin.com/in/arthur-souza-35b141182/" target="_blank">Arthur
                                        Souza</a></li>
                                <li><a href="https://www.linkedin.com/in/brenda-stefany-devjr/" target="_blank">Brenda
                                        Stefany</a></li>
                                <li><a href="https://www.linkedin.com/in/educastroo/" target="_blank">Eduardo Castro</a>
                                </li>
                                <li><a href="https://www.linkedin.com/in/maria-luiza-moura-638906116/"
                                        target="_blank">Maria Luiza Moura</a></li>
                            </ul>
                        </div>
                        <div class="footer-col col-md-3">
                            <h4>Nossas redes</h4>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>