<!--Home-->
<div id="home" class="bg-mangue">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light w-100 fixed-top">
        <a class="navbar-brand text-white trocar" href="#home">MANGUE<span class="">TECH</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white trocar" href="#home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white trocar" href="#sobre">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white trocar" href="#missaovisao">Pilares</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white trocar" href="#tecnologias">Tecnologias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white trocar" href="#equipe">Equipe</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manguetech-se
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#logar">Login</a>
                        <a class="dropdown-item" href="#cadastrar">Cadastrar</a>
                        <a class="dropdown-item" href="#contato">Contato</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!--End Navbar-->
    <!--Start Landing Page Section-->

    <div class="landing">
        <div class="home-wrap">
            <div class="home-inner">
            </div>
        </div>
    </div>
    <div class="caption text-center">
        <!-- <h1>MANGUE<span class="sp1">TECH</span></h1> -->
    </div>
    <!--End Landing Page Section-->
</div>
<!--End Home Section-->

<!--Start Sobre Section-->
<div id="sobre" class="offset">
    <div class=" sobre container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-4 mb-4">
                <div class="mt-5">
                    <h2>Desigualdade</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center mt-2">
                <h3 class="h3-sobre">1%</h3>
                <p class="text-center">da população do Brasil</p>
            </div>
            <div class="col-md-6">
                <p class="fs-16">
                    Essa é a porcentagem da população brasileira que detem <span class="span-sobre">49,6%</span> da
                    riqueza do país. Em
                    2019,
                    eles detinham 46,9%.
                    Sendo assim, o pior nível de concentração de renda desde pelo menos 2000, de acordo com o relatório
                    sobre riqueza
                    global feito pelo banco Credit Suisse. Naquele ano, o 1% mais rico era dono de 44,2% da riqueza no
                    Brasil e,
                    em 2010, esse número havia caído para 40,5%, a menor proporção registrada no período. Dali em
                    diante, essa
                    proporção voltaria a subir até chegar aos quase 50% do ano passado nas mãos do pequeno grupo que
                    ocupa o topo.
                    (Fonte: CNN Brasil)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mt-2">
                <p class="fs-16">Em Pernambuco, no ano de 2019, havia pouco mais de <span class="span-sobre">1,2
                        milhão</span> de pessoas, ou 13% da
                    população,
                    com renda mensal
                    domiciliar per capita inferior a R$ 151 (US$ 1,9 por dia). Esse é o critério adotado pelo Banco
                    Mundial para
                    identificar a condição de extrema pobreza.
                    Enquanto, somente na cidade do Recife, cerca de 115 mil pessoas, ou 7% da população, viviam abaixo
                    da linha de
                    extrema pobreza.
                    (Fonte: IBGE)
                </p>
            </div>
            <div class="col-md-6  text-center">
                <h3 class="h3-sobre">1.2 M</h3>
                <p class="text-center">de pessoas em extrema miséria em PE</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mt-4 mb-4 text-center">
                <h2>Descarte e Reciclagem</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <h3 class="h3-sobre">#5</h3>
                <p class="text-center">ranking do Brasil em produção de lixo eletrônico</p>
            </div>
            <div class="col-md-6">
                <p class="fs-16">O Brasil produz, anualmente, mais de <span class="span-sobre">78,3 milhões</span> de
                    toneladas de resíduos sólidos.
                    Desse total,
                    13,5% (10,5
                    milhões de toneladas) referem-se ao plástico. Toda essa quantidade reciclada renderia o montante de
                    <span class="span-sobre">R$
                        5,7 bilhões</span> à economia brasileira.(Fonte: Grupo Recicla)
                </p>

                <p class="fs-16">Em termos de lixo eletrônico, apenas o Brasil descartou, em 2019, mais de <span>2
                        milhões de
                        toneladas</span>
                    de resíduos
                    eletrônicos, sendo que menos de <span class="span-sobre">3%</span> foram reciclados, de acordo com o
                    relatório
                    desenvolvido pela
                    Universidade
                    das Nações Unidas. (Fonte: Agência Brasil) </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12  mt-4 mb-4 text-center">
                <h2>O Mangue</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center mt-3 mb-3">
                <h3 class="h3-sobre">5,34</h3>
                <p class="text-center">quilômetros quadrados</p>
            </div>
            <div class="col-md-6 mt-4">
                <p class="fs-16">Dos 220 quilômetros quadrados do Recife são ocupados por manguezais. Podemos destacar
                    três grandes manchas
                    de
                    mangue no Recife: 226 hectares é formado pelo Parque dos Manguezais, compreendendo as regiões do
                    Pina e
                    Imbiribeira. 143,2 hectares nos bairros do Jiquiá, Imbiribeira, Ibura, Areias e Caçote. E por fim,
                    90,43
                    hectares às margens do rio Capibaribe.(Fonte: Diário de Pernambuco)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">O projeto</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-5">
                <div style="position: relative; width: 100%; height: 0; padding-top: 56.2500%;
             padding-bottom: 48px; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
             border-radius: 8px; will-change: transform;">
                    <iframe loading="lazy"
                        style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
                        src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAE0md5MVCE&#x2F;watch?embed"
                        allowfullscreen="allowfullscreen" allow="fullscreen">
                    </iframe>
                </div>
                <a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAE0md5MVCE&#x2F;watch?utm_content=DAE0md5MVCE&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link"
                    target="_blank" rel="noopener"></a>
            </div>
            <div class="col-md-6 mt-5 mb-5">
                <p class="fs-16">Até 2030, o Brasil tem como objetivo com a ONU de empoderar e promover a inclusão
                    social, econômica e
                    políticas de todos, de forma a reduzir as desigualdades.</p>
                <p class="fs-16">Baseando-se nos dados anteriores e na ODS-10, nós criamos a MangueTech: uma rede social
                    voltada à
                    redução da
                    desigualdade, focando em reciclagem, consumo consciente e no compartilhamento de conhecimento.
                    Em outras palavras, a MangueTech tem como missão tornar cada vez mais acessível a relação entre o
                    mangue e a
                    tecnologia, através da implementação de ações sociais coletivas, promovendo educação tecnológica,
                    ambiental e
                    de consumo.
                </p>
                <p class="text-center fs-16">TRANSFORME, INSPIRE, INCLUA, RECICLE, EDUQUE E COMPARTILHE. MANGUETECH-SE!
                </p>
            </div>
        </div>
    </div>


</div>
<!--End sobre Section-->


<!--Start Missão&Visão Section-->
<div id="missaovisao" class="offset">
    <!--Jumbotron-->
    <div class="jumbotron jumbotron-fluid bg-white folhasreais mb-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <h1 class="missaoh1 equipeh1">Nossos Pilares</h1>
                </div>
            </div>
            <div class="row text-center text-black">
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="picture text-center">
                        <i class="fas fa-play-circle fa-4x" data-fa-transform="shrink-3 up-5"></i>
                        <h3>Missão</h3>
                        <p class="text-center">Transformamos vidas por meio da educação e tecnologia, promovendo o
                            desenvolvimento local
                            e inclusão social.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="picture">
                        <i class="fas fa-chart-line fa-4x" data-fa-transform="shrink-3 up-5"></i>
                        <h3>Visão</h3>
                        <p class="text-center">Mudar o mundo através da tecnologia e inclusão digital.</p>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="picture">
                        <i class="far fa-gem fa-4x" data-fa-transform="shrink-3 up-5"></i>
                        <h3>Valores</h3>
                        <p class="text-center">Respeito à vida, às pessoas e ao meio ambiente

                            ética e honestidade,

                            compromisso com o crescimento e resultado,

                            solidariedade e

                            inclusão.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Jumbotron-->

</div>
<!--End Missão&Visão Section-->

<!--Start Tecnologias Section-->
<div id="tecnologias">
    <div class="fixed-background">
        <div class="row dark">
            <div class="col-md-12 mt-5">
                <h1 class="text-center mt-5 mb-5 equipeh1">Tecnologias</h1>
                <div class="heading-underline"></div>
            </div>
            <div class="row text-center d-flex justify-content-center">
                <div class="col-10 d-flex justify-content-center">
                    <div class="col-md-3">
                        <div class="tech">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-plain.svg"
                                width="70px" height="70px">

                            <h3>Java</h3>
                            <p> Linguagem orientada a objetos, multiplataforma que permite a criação de um
                                programa único para uso em diversas plataformas - da web ao desktop, passando por
                                mobile e IoT mas o grande mercado Java hoje ainda é o back-end em sistemas Web.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="tech mt-1">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg"
                                width="70px" height="70px">

                            <h3>SpringBoot</h3>
                            <p>Framework Java open source que tem como objetivo facilitar esse processo em
                                aplicações Java. Consequentemente, ele traz mais agilidade para o processo de
                                desenvolvimento, reduzindo o tempo gasto com as configurações iniciais.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="tech">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-plain.svg"
                                width="70px" height="70px">
                            <h3>Bootstrap</h3>
                            <p>Framework front-end produzido pelo Twitter, que fornece estruturas de CSS para a
                                criação de sites e aplicações responsivas de forma rápida e simples. Além disso,
                                pode lidar com sites de desktop e páginas de dispositivos móveis da mesma forma.</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="tech">
                            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-plain.svg"
                                width="70px" height="70px">
                            <h3>Angular</h3>
                            <p> Framework JavaScript, criado pela Google, voltada para a construção da interface de
                                aplicações, usando HTML, CSS e, principalmente, JavaScript. Seu foco é em aplicações web
                                de código-fonte aberto e front-end, baseadas em TypeScript.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-wrap">
            <div class="fixed">
            </div>
        </div>

    </div>
    <!--End Tecnologias Section-->

    <!--Start equipe Section-->

    <div id="equipe" class="offset">
        <div class="fixed-background-equipe">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="equipeh1">Equipe</h1>
                </div>
            </div>
            <div class="row d-flex justify-content-center ">
                <div class="col-md-12 ">

                    <div class="wrapper d-flex justify-content-center w-100">
                        <div class="cards-container">
                            <!--Single Card 1-->
                            <div class="card ">
                                <div class="card-wrapper">
                                    <div class="front-card">
                                        <!--image here-->
                                        <div>
                                            <h2 class='borda'>Aldair Soares</h2>
                                            <p class='borda'>Dev Team</p>
                                            <a href="https://www.linkedin.com/in/aldair-soares/" target="_blank"><i
                                                    class="fab fa-linkedin-in mr-3 fa-2x text-white"></i></a>
                                            <a href="https://github.com/AldairSoares" target="_blank"><i
                                                    class="fab fa-github  fa-2x text-white"></i></a>
                                        </div>
                                    </div>
                                    <div class="rear-card">
                                        <p>Aldair é recifense, Engenheiro mecânico pela UPE e atualmente desenvolvedor
                                            FullStack Java Jr.
                                        </p>
                                        <div class="about-info">
                                            <!-- <img src="/src/assets/paginaInicial/aldair.jpg" alt="foto de aldair"> -->
                                            <div>
                                                <h2>Aldair Soares</h2>
                                                <p class="text-center">Dev Team</p>
                                                <a href="https://www.linkedin.com/in/aldair-soares/" target="_blank"><i
                                                        class="fab fa-linkedin-in mr-3 fa-2x text-white"></i></a>
                                                <a href="https://github.com/AldairSoares" target="_blank"><i
                                                        class="fab fa-github fa-2x text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End of Single Card 1-->
                            <!--Single Card 2-->
                            <div class="card">
                                <div class="card-wrapper">
                                    <div class="front-card">
                                        <!--image here-->
                                        <div>
                                            <h2 class='borda'>Arthur Souza</h2>
                                            <p class='borda'>Scrum Master</p>
                                            <a href="https://www.linkedin.com/in/arthur-souza-35b141182/"
                                                target="_blank"><i
                                                    class="fab fa-linkedin-in mr-3  fa-2x text-white"></i></a>
                                            <a href="https://github.com/4souzza" target="_blank"><i
                                                    class="fab fa-github fa-2x text-white"></i></a>
                                        </div>
                                    </div>
                                    <div class="rear-card">
                                        <p>Olá eu sou Arthur, Scrum master do Manguetech, formado em informática e com
                                            mais de cinco anos de experiência com projetos em tecnologia.
                                        <p>
                                        <div class="about-info">
                                            <!-- <img src="/assets/paginaInicial/arthur.jpeg" alt="foto de arthur"> -->
                                            <div>
                                                <h2>Arthur Souza</h2>
                                                <p class="text-center">Scrum Master</p>
                                                <a href="https://www.linkedin.com/in/arthur-souza-35b141182/"
                                                    target="_blank"><i
                                                        class="fab fa-linkedin-in mr-3 fa-2x text-white"></i></a>
                                                <a href="https://github.com/4souzza" target="_blank"><i
                                                        class="fab fa-github fa-2x text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End of Single Card 2-->

                            <!--Single Card 3-->
                            <div class="card">
                                <div class="card-wrapper">
                                    <div class="front-card">
                                        <!--image here-->
                                        <div>
                                            <h2 class='borda'>Brenda Stefany</h2>
                                            <p class='borda'>Dev Team</p>
                                            <a href="https://www.linkedin.com/in/brenda-stefany-devjr/"
                                                target="_blank"><i
                                                    class="fab fa-linkedin-in mr-3 fa-2x text-white"></i></a>
                                            <a href="https://github.com/BrendaStefany" target="_blank"><i
                                                    class="fab fa-github fa-2x text-white"></i></a>
                                        </div>
                                    </div>
                                    <div class="rear-card">
                                        <p>Brenda Stefany é Técnica em Edificações, Engenheira civil e Desenvolvedora
                                            Fullstack Java Jr.</p>
                                        <div class="about-info">
                                            <!-- <img src="/src/assets/paginaInicial/brenda.jpeg" alt="foto de brenda"> -->
                                            <div>
                                                <h2>Brenda Stefany</h2>
                                                <p class="text-center">Dev Team</p>
                                                <div></div>
                                                <a href="https://www.linkedin.com/in/brenda-stefany-devjr/"
                                                    target="_blank"><i
                                                        class="fab fa-linkedin-in mr-3 fa-2x text-white"></i></a>
                                                <a href="https://github.com/BrendaStefany" target="_blank"><i
                                                        class="fab fa-github fa-2x text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End of Single Card 3-->

                            <!--Single Card 4-->
                            <div class="card">
                                <div class="card-wrapper">
                                    <div class="front-card">
                                        <!--image here-->
                                        <div>
                                            <h2 class='borda'>Eduardo Castro</h2>
                                            <p class='borda'>Tech Lead</p>
                                            <a href="https://www.linkedin.com/in/educastroo/" target="_blank"><i
                                                    class="fab fa-linkedin-in mr-3 fa-2x text-white"></i></a>
                                            <a href="https://github.com/EduCastroo" target="_blank"><i
                                                    class="fab fa-github fa-2x text-white"></i></a>
                                        </div>
                                    </div>
                                    <div class="rear-card">
                                        <p>Engenheiro civil de formação e desenvolvedor Fullstack Java Jr.</p>
                                        <div class="about-info">
                                            <!-- <img src="/src/assets/paginaInicial/edu.jpeg" alt="foto de edu"> -->
                                            <div>
                                                <h2>Eduardo Castro</h2>
                                                <p class="text-center">Tech Lead</p>
                                                <a href="https://www.linkedin.com/in/educastroo/" target="_blank"><i
                                                        class="fab fa-linkedin-in mr-3 fa-2x text-white"></i></a>
                                                <a href="https://github.com/EduCastroo" target="_blank"><i
                                                        class="fab fa-github fa-2x text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End of Single Card 4-->


                            <!--Single Card 5-->
                            <div class="card">
                                <div class="card-wrapper">
                                    <div class="front-card">
                                        <!--image here-->
                                        <div>
                                            <h2 class='borda'>Maria Luiza Moura</h2>
                                            <p class='borda'>Dev Team</p>
                                            <a href="https://www.linkedin.com/in/maria-luiza-moura-638906116/"
                                                target="_blank"><i
                                                    class="fab fa-linkedin-in mr-3 fa-2x text-dark"></i></a>
                                            <a href="https://github.com/MariaLuizaDMoura" target="_blank"><i
                                                    class="fab fa-github fa-2x text-dark"></i></a>
                                        </div>
                                    </div>
                                    <div class="rear-card">
                                        <p>Maria Luiza Moura é Arquiteta e Urbanista, e Desenvolvedora Fullstack Java Jr
                                            faz parte do Dev Team do MangueTech.</p>
                                        <div class="about-info">
                                            <!-- <img src="/src/assets/paginaInicial/malu.jpg" alt="foto de malu"> -->
                                            <div>
                                                <h2>Maria Luiza Moura</h2>
                                                <p class="text-center">Dev Team</p>
                                                <a href="https://www.linkedin.com/in/maria-luiza-moura-638906116/"
                                                    target="_blank"><i
                                                        class="fab fa-linkedin-in mr-3 fa-2x text-white"></i></a>
                                                <a href="https://github.com/MariaLuizaDMoura" target="_blank"><i
                                                        class="fab fa-github fa-2x text-white"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Single Card 5-->
                        </div>
                    </div>
                </div>

            </div>
            <footer>
                <div class="container-fluid container-footer">
                    <div class="row d-flex justify-content-center">
                        <div class="footer-col col-md-3">
                            <h4>A MangueTech</h4>
                            <ul>
                                <li><a href="#home">Home</a></li>
                                <li><a href="#sobre">Sobre</a></li>
                                <li><a href="#missaovisao">Pilares</a></li>
                                <li><a href="#tecnologias">Tecnologias</a></li>
                                <li><a href="#equipe">Equipe</a></li>
                            </ul>
                        </div>
                        <div class="footer-col col-md-3">
                            <h4>Manguetech-se</h4>
                            <ul>
                                <li><a href="">FAQ</a></li>
                                <li><a href="">Contato</a></li>
                                <li><a href="">Login</a></li>
                                <li><a href="">Cadastro</a></li>
                            </ul>
                        </div>
                        <div class="footer-col col-md-3">
                            <h4>LinkedIn</h4>
                            <ul>
                                <li><a href="https://www.linkedin.com/in/aldair-soares/" target="_blank">Aldair
                                        Soares</a></li>
                                <li><a href="https://www.linkedin.com/in/arthur-souza-35b141182/" target="_blank">Arthur
                                        Souza</a></li>
                                <li><a href="https://www.linkedin.com/in/brenda-stefany-devjr/" target="_blank">Brenda
                                        Stefany</a></li>
                                <li><a href="https://www.linkedin.com/in/educastroo/" target="_blank">Eduardo Castro</a>
                                </li>
                                <li><a href="https://www.linkedin.com/in/maria-luiza-moura-638906116/"
                                        target="_blank">Maria Luiza Moura</a></li>
                            </ul>
                        </div>
                        <div class="footer-col col-md-3">
                            <h4>Nossas redes</h4>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.instagram.com/manguetech/?utm_medium=copy_link" target="_blank"><i
                                        class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>