<!--Home-->
<div id="home" class="bg-mangue">
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-light w-100 fixed-top">
      <a class="navbar-brand text-white trocar" href="#paginainicial">MANGUE<span class="">TECH</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Manguetech-se
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#logar">Login</a>
                      <a class="dropdown-item" href="#cadastrar">Cadastrar</a>
                      <a class="dropdown-item" href="#contato">Contato</a>
                  </div>
              </li>
          </ul>
      </div>
  </nav>
  <!--End Navbar-->
  <!--Start Landing Page Section-->

<div class="container-fluid fundo">

      <div class="cadastro">
                <h2>Cadastro</h2>
        <div class="form-group">

          <div class="input-field">
          <label for="nome">Nome</label>
          <input
            [(ngModel)]="usuario.nome"
            class="form-control"
            type="text"
            name="nome"
            id="nome"
            placeholder="Digite seu nome aqui"
          />
        </div>

      </div>
        <div class="form-group">
          <div class="input-field">
          <label for="usuario">E-mail</label>
          <input
            [(ngModel)]="usuario.usuario"
            class="form-control" type="text" name="usuario" id="usuario" placeholder="Digite seu e-mail aqui"
          />
        </div>

      </div>
        <div class="form-group">
          <div class="input-field">
          <label for="foto">Foto de perfil</label>
          <input
            [(ngModel)]="usuario.foto"
            class="form-control"
            type="text"
            name="foto"
            id="foto"
            placeholder="Adicione o link da sua foto aqui"
          />
        </div>
      </div>

      <div class="input-field">
        <div class="form-group">
          <label for="senha">Senha</label>
          <input
            (input)="confirmSenha($event)"
            class="form-control"
            type="password"
            name="senha"
            id="senha"
            placeholder="Digite sua senha aqui"
          />
        </div>
      </div>
      
      <div class="input-field">
        <div class="form-group">
          <label for="confirmSenha">Confirmar Senha</label>
          <input
            [(ngModel)]="usuario.senha"
            class="form-control"
            type="password"
            name="confirmSenha"
            id="confirmSenha"
            placeholder="Repita sua senha aqui"
          />
        </div>
        </div>

        <!-- <div class="input-field "> -->
        <div class="form-group">
          
          <!-- <label for="tipo">Tipo de usuário</label> -->
          
          <select
            name="tipo"
            id="tipo"
            class="form-control"
            (change)="tipoUsuario($event)"
          >

            <option>Selecione um tipo de usuário:</option>
            <option value="Normal">Padrão</option>
            <option value="adm">Administrador</option>
          </select>
        </div>
        

        <div class="d-flex justify-content-center">
          <button
            submit="submit"
            routerLink="/logar"
            class="btn btn-danger mr-2"
          >
            Cancelar
          </button>
          <button submit="submit" class="btn btn-success" (click)="cadastrar()">
            Cadastrar
          </button>
        </div>
      </div>
    </div>


<!--Footer-->
<footer>
  <div class="container-fluid container-footer">
      <div class="row d-flex justify-content-center">
          <div class="footer-col col-md-3">
              <h4>Company</h4>
              <ul>
                  <li><a href="#paginainicial">Home</a></li>
                  <li><a href="#sobre">Sobre</a></li>
                  <li><a href="#pilares">Pilares</a></li>
                  <li><a href="#tecnologias">Tecnologias</a></li>
                  <li><a href="#equipe">Equipe</a></li>
              </ul>
          </div>
          <div class="footer-col col-md-3">
              <h4>Manguetech-se</h4>
              <ul>
                  <li><a href="#contato">FAQ</a></li>
                  <li><a href="#contato">Contato</a></li>
                  <li><a href="#login">Login</a></li>
                  <li><a href="#cadastrar">Cadastro</a></li>
              </ul>
          </div>
          <div class="footer-col col-md-3">
              <h4>LinkedIn</h4>
              <ul>
                  <li><a href="https://www.linkedin.com/in/aldair-soares/" target="_blank">Aldair
                          Soares</a></li>
                  <li><a href="https://www.linkedin.com/in/arthur-souza-35b141182/" target="_blank">Arthur
                          Souza</a></li>
                  <li><a href="https://www.linkedin.com/in/brenda-stefany-devjr/" target="_blank">Brenda
                          Stefany</a></li>
                  <li><a href="https://www.linkedin.com/in/educastroo/" target="_blank">Eduardo Castro</a>
                  </li>
                  <li><a href="https://www.linkedin.com/in/maria-luiza-moura-638906116/"
                          target="_blank">Maria Luiza Moura</a></li>
              </ul>
          </div>
          <div class="footer-col col-md-3">
              <h4>Nossas redes</h4>
              <div class="social-links">
                  <a href="#"><i class="fab fa-facebook"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
          </div>
      </div>
  </div>
</footer>
<!--End Footer-->
