<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<body class="bg-cordefundo">

	<div class="container">
		<div class="left-sidebar">
			<div class="imp-links bg-cor-lateral">
				<div class="profile">
					<div class="imagem">
						<img src="{{foto}}" alt="Imagem do user" width="80px" height="80px"
							class="img-fluid rounded-circle">
					</div>
					<div class="nomeperfil">
						<p class="m-0 font-weight-bold text-verde fs-18"> Olá, {{nome}}</p>
						<a [routerLink]="['/user-edit',id]">
							<p class="text-white fs-5 m-0 texto-editar">Editar perfil</p>
						</a>
					</div>
				</div>
			</div>
			<div class="teste">
				<div>
					<div class="nav flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<a class="nav-link active text-white" id="v-pills-minhaspostagens-tab" data-toggle="pill"
							href="#v-pills-minhaspostagens" role="tab" aria-controls="v-pills-minhaspostagens"
							aria-selected="true">Minhas Postagens</a>
						<a class="nav-link text-white" id="v-pills-todaspostagens-tab" data-toggle="pill"
							href="#v-pills-todaspostagens" role="tab" aria-controls="v-pills-todaspostagens"
							aria-selected="false">Explorar</a>
						<a class="nav-link text-white" id="v-pills-vagas-tab" data-toggle="pill" href="#v-pills-vagas"
							role="tab" aria-controls="v-pills-vagas" aria-selected="false">Vagas de emprego</a>
						<a class="nav-link text-white" id="v-pills-cursos-tab" data-toggle="pill" href="#v-pills-cursos"
							role="tab" aria-controls="v-pills-cursos" aria-selected="false">Cursos Gratuitos</a>
						<a class="nav-link text-white" id="v-pills-voluntariado-tab" data-toggle="pill"
							href="#v-pills-voluntariado" role="tab" aria-controls="v-pills-voluntariado"
							aria-selected="false">Voluntariado</a>
					</div>
				</div>
			</div>
		</div>
		<div class="main-content">
			<div class="story-gallery">
				<div class="story story1">
					<!--<img src="/images/emprego.jpg"> -->
					<p>Vagas</p>
				</div>
				<div class="story story2">
					<!-- 	<img src="images/member-1.png"> -->
					<p>Voluntariado</p>
				</div>
				<div class="story story3">
					<!-- 						<img src="images/member-2.png"> -->
					<p>Cursos gratuitos</p>
				</div>
				<div class="story story4">
					<!-- <img src="images/member-3.png"> -->
					<p>Reciclagem e consumo</p>
				</div>
				<div class="story story5">
					<!-- <img src="images/member-4.png"> -->
					<p>Seja um parceiro</p>
				</div>
			</div>
			<div class="write-post-container bg-white">
				<div>
					<p>O que você está pensando, {{nome}}?</p>
				</div>
				<div class="post-input-container">
					<a data-toggle="modal" data-target="#novaPostagem">
						<textarea rows="3" placeholder="Compartilhe num post"></textarea>
					</a>
					<div class="add-post-links">
						<a href="#">
							<img src="/assets/inicioImagem/live-video.png">
							Live Video
						</a>
						<a href="#">
							<img src="/assets/inicioImagem/photo.png">
							Photo/Video
						</a>
						<a href="#">
							<img src="/assets/inicioImagem/feeling.png">
							Feeling/Activity
						</a>
					</div>
				</div>
			</div>
			<div class="post-container mt-3">
				<div class="row">
					<div class="col-12">
						<div class="tab-content" id="v-pills-tabContent">
							<div class="tab-pane fade show active" id="v-pills-minhaspostagens" role="tabpanel"
								aria-labelledby="v-pills-minhaspostagens-tab">
								<!--Minhas Postagens-->
								<div class="card-deck">
									<div class="card" *ngFor='let item of usuario.postagem'>
										<div class="card-body">
											<h5 class="card-title m-0">{{item.titulo}}</h5>
											<small class="text-muted">Tema: {{item.tema.descricao}}</small>
											<p class="card-text mt-3">{{item.texto}}</p>
											<p class="card-text"><small class="text-muted">{{item.date | date:
													'dd/MM/yyyy'}} às {{item.date | date: 'HH:mm'}} </small></p>

											<!--Editar e deletar as postagens-->
											<a [routerLink]="['/postagem-edit',item.id]" class="text-info mr-3" href="">
												Editar</a>
											<a [routerLink]="['/postagem-delete',item.id]" class="text-danger"
												href="">Apagar
											</a>
										</div>
									</div>
								</div>
							</div>
							<!--Minhas Postagens-->
							<div class="tab-pane fade" id="v-pills-todaspostagens" role="tabpanel"
								aria-labelledby="v-pills-todaspostagens-tab">
								<!--Todas as postagens-->
								<div class="card-deck">
									<div class="card" *ngFor='let item of listaPostagens'>
										<div class="card-body">
											<h5 class="card-title m-0">{{item.titulo}}</h5>
											<small class="text-muted">Tema: {{item.tema.descricao}}</small>
											<p class="card-text mt-3">{{item.texto}}</p>
											<p class="card-text"><small class="text-muted">{{item.date | date:
													'dd/MM/yyyy'}} às {{item.date | date: 'HH:mm'}} </small></p>
											<p class="card-text"><small class="text-muted">by:
													{{item.usuario.nome}}</small></p>
										</div>
									</div>
								</div>
							</div>
							<!--Todas as postagens-->
						</div>
						<div class="tab-pane fade" id="v-pills-vagas" role="tabpanel"
							aria-labelledby="v-pills-vagas-tab">
							<div class="card-deck" *ngFor='let tema of listaTemas'>
								<div class="card" *ngFor='let item of tema.postagem'>
									<div class="card-body">
										<h5 class="card-title m-0">{{item.titulo}}</h5>
										<p class="card-text mt-3">{{item.texto}}</p>
										<p class="card-text"><small class="text-muted">{{item.date | date:
												'dd/MM/yyyy'}} às {{item.date | date: 'HH:mm'}} </small></p>
										<p class="card-text"><small class="text-muted">by: {{item.usuario.nome}}</small>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="v-pills-cursos" role="tabpanel"
							aria-labelledby="v-pills-cursos-tab">
							<div class="card-deck" *ngFor='let tema of listaTemas'>
								<div class="card" *ngFor='let item of tema.postagem'>
									<div class="card-body">
										<h5 class="card-title m-0">{{item.titulo}}</h5>
										<p class="card-text mt-3">{{item.texto}}</p>
										<p class="card-text"><small class="text-muted">{{item.date | date:
												'dd/MM/yyyy'}} às {{item.date | date: 'HH:mm'}} </small></p>
										<p class="card-text"><small class="text-muted">by: {{item.usuario.nome}}</small>
										</p>
									</div>
								</div>

							</div>
						</div>
						<div class="tab-pane fade" id="v-pills-voluntariado" role="tabpanel"
							aria-labelledby="v-pills-voluntariado-tab">
							<div class="card-deck" *ngFor='let tema of listaTemas'>
								<div class="card" *ngFor='let item of tema.postagem'>
									<div class="card-body">
										<h5 class="card-title m-0">{{item.titulo}}</h5>
										<p class="card-text mt-3">{{item.texto}}</p>
										<p class="card-text"><small class="text-muted">{{item.date | date:
												'dd/MM/yyyy'}} às {{item.date | date: 'HH:mm'}} </small></p>
										<p class="card-text"><small class="text-muted">by: {{item.usuario.nome}}</small>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="right-sidebar">
			<div class="sidebar-title">
				<h4>Divulgue seu negócio</h4>
			</div>
			<div class="event">
				<div>
					<img src="/assets/inicioImagem/feed-image-1.png" width="200px" height="100px" alt="cursos">
					<p>Saiba como oferecer seu curso</p>
				</div>
			</div>
			<div class="event">
				<div>
					<img src="/assets/inicioImagem/feed-image-4.png" width="200px" height="100px" alt="cursos">
					<p>Possui um negócio local e deseja alcançar mais clientes? Divulga na Manguetech!</p>
				</div>
			</div>

			<div class="sidebar-title">
				<h4>Divulgue seu evento</h4>
			</div>
			<div class="event">
				<div>
					<img src="/src/assets/inicioImagem/friends.png" width="200px" height="100px" alt="evento com amigos">
					<p>Participa de algum evento local? Não perde tempo e compartilha aqui!
					<p>#somosmanguetech</p>
				</div>
			</div>
		</div>
	</div>

	
	<!-- Modal -->
	<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for='titulo'>Título</label>
						<input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
							placeholder="Digite o título">
					</div>

					<div class="form-group">
						<label for='texto'>Texto</label>
						<textarea [(ngModel)]='postagem.texto' name="texto" class="form-control" id="texto"
							placeholder="Digite o título" cols="30" rows="10"></textarea>
					</div>

					<div class="form-group">
						<label for='tema'>Escolha o tema ou <a data-dismiss="modal" routerLink='/tema'>cadastre um
								novo</a>: </label>
						<select name="tema" id="tema" class="form-control" [(ngModel)]='idTema'
							(change)='findByIdTema()'>
							<option *ngFor='let item of listaTemas' value="{{item.id}}">{{item.descricao}}</option>
						</select>
					</div>


				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-success" (click)='publicar()'
						data-dismiss="modal">Publicar</button>
				</div>
			</div>
		</div>
	</div>